<% flash.now[:error] = "#{l("corpid")} #{l("activerecord.errors.messages.blank")}" if @settings['corpid'].blank? %>
<% flash.now[:error] = "#{l("agentid")} #{l("activerecord.errors.messages.blank")}" if @settings['agentid'].blank? %>
<% flash.now[:error] = "#{l("secret")} #{l("activerecord.errors.messages.blank")}" if @settings['secret'].blank? %>

<p>
  <label><%= l(:label_work_wechat_enabled) %></label>
  <%= check_box_tag 'settings[enabled]', true, @settings['enabled'] %>
</p>
<p>
  <label><%= l(:label_corpid) %><span class="required"> *</span></label>
  <%= text_field_tag 'settings[corpid]', @settings['corpid'], :size => 50 %>
</p>
<p>
  <label><%= l(:label_agentid) %><span class="required"> *</span></label>
  <%= text_field_tag 'settings[agentid]', @settings['agentid'], :size => 50 %>
  <br />
</p>
<p>
  <label><%= l(:label_secret) %><span class="required"> *</span></label>
  <%= text_field_tag 'settings[secret]', @settings['secret'], :size => 50 %>
</p>
<hr>
<p>
  <label><%= l(:label_proxy) %></label>
  <%= text_field_tag 'settings[proxy]', @settings['proxy'], :size => 50 %>
</p>
<hr>
<p>
  <label><%= l(:label_user_relation) %></label>
  <%= select_tag(
        'settings[user_relation]',
        options_for_select([
                             [l(:text_user_email), 'meil'],
                             [l(:text_user_login_id), 'login'],
                             [l(:text_user_custom_field), "work_wechat_user_id"]
                           ], @settings['user_relation'])
      ) %>
  <br />
  <em><%= l(:user_custom_field_tips) %></em>
</p>
<hr>
<p>
  <label><%= l(:label_notification_include_details) %></label>
  <%= check_box_tag 'settings[notification_include_details]', false, @settings['notification_include_details'] %>
</p>
<p>
  <label><%= l(:label_open_in_default_browser) %></label>
  <%= check_box_tag 'settings[open_in_default_browser]', false, @settings['open_in_default_browser'] %>
  <br />
  <em><%= l(:open_in_default_browser_tips) %></em>
</p>

